table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
 
  .red{
    background-color: rgb(226, 97, 71);
  }
  /* colocar cores intercaladas */
  tr:nth-child(even) {
    background-color: #a59f9f;
  }