table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
 
  th{
    background-color: #aeb4a9
  }

  /* colocar cores intercaladas */
  tr:nth-child(even) {
    background-color: #f8f8f8;
  }